:root {
  --text-color: #ffffff;
  --hover-bg-color: rgba(0, 0, 0, 0.4);
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.bg {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.logo {
  max-width: 50%;
  max-height: 50%;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.coming-soon {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.coming-soon a {
  color: var(--text-color);
  font-weight: 700;
  text-decoration: underline;
  transition: opacity 0.3s ease;
}

.coming-soon a:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .bg-image {
    object-fit: contain;
    object-position: center;
  }
  .coming-soon {
    font-size: 1.5rem;
  }
  .social-links {
    flex-direction: column;
  }
}
