body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.bg {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.logo {
    max-width: 50%;
    max-height: 50%;
    z-index: 1;
}

@media (max-width: 500px) {
    .bg-image {
        object-fit: contain;
        object-position: center;
    }
}
