<div class="hero">
  <div class="bg">
    <picture>
      <source media="(max-width: 500px)" srcset="/assets/images/bg-w500.webp" />
      <source
        media="(max-width: 1387px)"
        srcset="/assets/images/bg-w1387.webp"
      />
      <source
        media="(min-width: 1388px)"
        srcset="/assets/images/bg-w1980.webp"
      />
      <img
        src="/assets/images/bg-w1980.webp"
        alt="Background"
        class="bg-image"
        id="bg-img"
        fetchpriority="high"
        decoding="async"
      />
    </picture>
    <div class="hero-fg">
      <div class="hero-img">
        <img src="/assets/images/logo-white.svg" alt="" />
      </div>
      <div class="hero-text">
        <h1 class="">Vienna.rb</h1>
        <p>The Vienna Ruby Meetup.</p>
      </div>
    </div>
  </div>
</div>
