<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta
      name="description"
      content="Join vienna.rb, the Ruby meetup community in Vienna, Austria. Connect with fellow Ruby enthusiasts, share knowledge, and grow your skills."
    />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <meta property="og:title" content="vienna.rb - Ruby Meetup in Vienna" />
    <meta
      property="og:description"
      content="Join vienna.rb, the Ruby meetup community in Vienna, Austria. Connect with fellow Ruby enthusiasts, share knowledge, and grow your skills."
    />
    <meta property="og:image" content="https://ruby.wien/images/og.png" />
    <meta property="og:url" content="https://ruby.wien" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="vienna.rb - Ruby Meetup in Vienna" />
    <meta
      name="twitter:description"
      content="Join vienna.rb, the Ruby meetup community in Vienna, Austria. Connect with fellow Ruby enthusiasts, share knowledge, and grow your skills."
    />
    <meta name="twitter:image" content="https://ruby.wien/images/og.png" />
    <meta name="twitter:site" content="viennarb" />
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/images/icon.svg" type="image/svg+xml">
  </head>
  <body>
    {% include navbar.html %}
    {% include hero.html %}
    <div class="content">
      {{content}}
    </div>

    {% include footer.html %}
  </body>
</html>
